body {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.main_container{
    display: grid;
    grid-template: 42px 1fr/ 175px 1fr;
    width: calc(100vw, 20px);
    height: 100vmin;
    background-color: aliceblue;
}
.nav_bar{
    grid-area: 1 / 1 / span 1/ span 2;
    background-color: bisque;

}
.feed{
    grid-area: 2 / 2 / span 1/ span 1;
    background-color: rgb(255, 153, 29);
}
.side_bar{
    grid-area: 2 / 1 / span 1/ span 1;
    background-color: #f8f4fc;
    display: grid;
}